@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
:root{
  --nav-color: #b4cff4;
  --bg-color: #7a92a0;
  --primary-color: #e2e8ed;
  --secondary-color: #cad7e0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;    
}
hr{
  border-color: var(--bg-color) ;
  border-width: 0.2rem;
}
section{
  background-color: var(--bg-color);
  flex: 1 1 0;
}
footer{
  background-color: var(--nav-color);
}
.navbar{
  background-color: var(--nav-color)
}
.content{
  margin-inline: 5%;
  display: flex;
  flex-wrap: wrap;
}
.content-box{
  background-color: var(--secondary-color);
}
.text-content{
  font-size:0.8rem;
}
.game {
  background-color: var(--primary-color);
  width: 95%;
  padding: 1rem 5rem;
}
.result-imgs img{
  width: 15rem;
}
.user-result img{
  transform: rotate(90deg);
}
.bot-result img{
  transform: rotate(-90deg) rotateY(180deg);
}
.result {
  text-align: center;
  margin-top: 0.5rem;
}

.option-img{
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.option-img:hover, .selected{
  opacity: 1;
}
.option-img img{
  width: 4rem;
}
.option-imgg p{
  text-align: center;
}
.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  width: 0px;
  content: "\2026";
  animation: ellipsis steps(4,end) 900ms infinite;
}
@keyframes ellipsis {
  to {
    width: 0.8em;
  }
}
.game.start .user-result {
  transform-origin: left;
  animation: userShake 0.7s ease infinite;
}
@keyframes userShake {
  50% {
    transform: rotate(10deg);
  }
}
.game.start .bot-result {
  transform-origin: right;
  animation: botShake 0.7s ease infinite;
}
@keyframes botShake {
  50% {
    transform: rotate(-10deg);
  }

}
@media screen and (max-width:1350px){
  .result-imgs img{
    width: 13rem;
  }
}
@media screen and (max-width:1200px){
  .result-imgs img{
    width: 10rem;
  }
}
@media screen and (max-width:992px){
  .game{
    width: 100%;
  }
  .content{
    flex-direction: column-reverse;
  }
}
@media screen and (max-width:576px){
  .result-imgs img{
    width: 4.5rem;
  }
  .option-img img{
    width: 3rem;
  }
}