@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
:root{
  --font-color: #333;
  --primary-color: #0a81ea;
  --secondary-color: #edeff2;
  --terciary-color: #bdc7d3;
}
.dark-mode{
  --font-color: #ddd;
  --primary-color: #1d9efa;
  --secondary-color: #394048;
  --terciary-color: #24262a;
  img {
    filter: invert(90%);
  }
  .result-imgs img{
    filter: invert(90%) drop-shadow(3px 3px 0 var(--primary-color));
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
img {
  filter: hue-rotate(180deg);
}
body {
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  height: 100vh;  
  transition: background-color 0.5s ease, color 0.5s ease;
}
hr{
  border-color: var(--primary-color);
  border-width: 0.2rem;
}
section{
  background-color: var(--terciary-color);
  flex: 1 1 0;
}
footer{
  background-color: var(--secondary-color);
}
.navbar{
  background-color: var(--secondary-color)
}
.title-img{
  width: 9rem;
}
.content{
  margin-inline: 5%;
  margin-block: 1.9%;
  display: flex;
  flex-wrap: wrap;
}
.content-box{
  background-color: var(--secondary-color);
}
.text-content{
  font-size:0.8rem;
}
.game {
  width: 95%;
  padding-inline: 3%;
  padding-block: 1.7%;
}
.result-imgs img{
  width: 15rem;
  filter: drop-shadow(3px 3px 0 var(--primary-color));
}
.user-result img{
  transform: rotate(90deg);
}
.bot-result img{
  transform: rotate(-90deg) rotateY(180deg);
}
.result {
  color: var(--primary-color);
  text-align: center;
  margin-top: 0.5rem;
}
.option-img{
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.option-img:hover, .selected{
  opacity: 1;
}
.option-img img{
  width: 4rem;
}
.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  width: 0px;
  content: "\2026";
  animation: ellipsis steps(4,end) 900ms infinite;
}
.theme-btn {
  width: 25px;
  transition: opacity 0.3s ease; 
}
@keyframes ellipsis {
  to {
    width: 0.8em;
  }
}
.game.start .user-result {
  transform-origin: left;
  animation: userShake 0.7s ease infinite;
}
@keyframes userShake {
  50% {
    transform: rotate(10deg);
  }
}
.game.start .bot-result {
  transform-origin: right;
  animation: botShake 0.7s ease infinite;
}
@keyframes botShake {
  50% {
    transform: rotate(-10deg);
  }

}
@media screen and (max-width:1350px){
  .result-imgs img{
    width: 13rem;
  }
}
@media screen and (max-width:1200px){
  .result-imgs img{
    width: 10rem;
  }
}
@media screen and (max-width:992px){
  .game{
    width: 100%;
  }
  .content{
    flex-direction: column-reverse;
  }
}
@media screen and (max-width:576px){
  .result-imgs img{
    width: 6rem;
  }
  .option-img img{
    width: 3rem;
  }
}